<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="earings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Earings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="earings-link">
                <a href="{% url 'products' %}?category=statement_pieces" class="dropdown-item">Statement Pieces</a>
                <a href="{% url 'products' %}?category=studs" class="dropdown-item">Studs</a>
                <a href="{% url 'products' %}?category=hoops" class="dropdown-item">Hoops</a>
                <a href="{% url 'products' %}?category=statement_pieces,studs,hoops" class="dropdown-item">All Earings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="necklaces-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklaces
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="necklaces-link">
                <a href="{% url 'products' %}?category=necklace_stack" class="dropdown-item">Stacks</a>
                <a href="{% url 'products' %}?category=chains" class="dropdown-item">Chains</a>
                <a href="{% url 'products' %}?category=necklace_stack,chains" class="dropdown-item">All Necklaces</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="piercings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings &amp; Piercings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="piercings-link">
                <a href="{% url 'products' %}?category=stack_rings,rings" class="dropdown-item">Stack Rings</a>
                <a href="{% url 'products' %}?category=nose_rings" class="dropdown-item">Nose Rings</a>
                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=stack_rings,nose_rings,other,rings" class="dropdown-item">All Rings &amp; Piercings </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black" id="blog-link" aria-haspopup="true" aria-expanded="false">
               Blog
            </a>
        </li>
    </ul>
</div>