{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">{{ post.title }}</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
</div>
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>Edit the post</a>
     <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span>Delete the post</a>
{% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr>
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <strong>By: {{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
        <div class="date">
            {{ comment.created_date }}
        </div>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
    {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span>Remove Comment</a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok">Approve Comment</span></a>
    {% endif %}
{% endfor %}
    </div>

    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="container">
	<div class="row">
		<div class="col col-md-8 offset-md-2 mt-3">
            <div class="card">
                <div class="comment">
                    <strong>By: {{ comment.author }}</strong>
                    <p>{{ comment.text|linebreaks }}</p>
                    <div class="date">
                        {{ comment.created_date }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span>Remove Comment</a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok">Approve Comment</span></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>

    <div class="text-center">
            <a class="btn btn-outline-black rounded-0" href="{% url 'post_list' %}">Back to Blog</a>
    </div>


{% endblock %}